<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/style.css" rel="stylesheet" />
    <title>Energiser Scoreboard</title>
  </head>
  <body>
    <div id="banner">
        <div id="header">
            <img id="soc1" src="SoC.png" alt="school-of-code-logo" width="100"/>
            <h1>Dan & Emma's Energiser Scoreboard</h1>
        </div>
        <img id="banner-image" src="productive-team-building-activities-blog-header-1.png" alt="team-image" width="500"/>
    </div>
    <div id="forms">
        <form id="enter-new-user">
            <h2 id="new-bootcamper">Enter New Bootcamper</h2>
            <label><input type="text" id="first-name" placeholder="First Name"></input></label>
            <label><input type="text" id="last-name" placeholder="Last Name"></input></label>
            <label><input type="text" id="user-name" placeholder="Username"></input></label>
            <br>
            <button type="button" id="submit-new-user">Submit 🤠</button>
        </form>
        <form id="enter-new-game">
            <h2 id="new-game">Enter New Energiser Scores</h2>
            <label><input type="date" id="date" value="2020-09-21" min="2020-09-21" max="2021-02-02"></input></label>
            <br>
            <select id="games-played" name="games-played">
                <option value="pictionary">Pictionary</option>
                <option value="mind">Mind</option>
                <option value="scattergories">Scattergories</option>
            </select>
            <label><input type="text" id="user-id" placeholder="User Id"></input></label>
            <label><input type="text" id="wins" placeholder="Games Won"></input></label>
            <label><input type="text" id="points" placeholder="Points"></input></label>
            <br>
            <button type="button" id="submit-new-energiser">Submit New Energiser 🧜‍♀️<</button>
        </form>
    </div>
    <h2 id="get-top-scores">Get Top Bootcampers Scores For Each Game</h2>
    <div id="game-options">
        <img class="game-pics" id="pictionary-pic" src="Pictionary3.png" width="200"/>
        <img class="game-pics" id="mind-pic" src="Mind2.jpg" width="200"/>
        <img class="game-pics" id="scattergories-pic" src="Scategories.jpeg" width="200"/>
    </div>
    <div id="score-boards">
        <section id="scores"></section>
            <table class="center" id="table-scores"></table>
    </div>

    

    <script src="../public/main.js"></script>
  </body>
</html>